/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #0078D7;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

#header-div {
    height: 30px;
    border: #0078D7 solid 1px;
    text-align: center;
}

#footer-div {
    height: 30px;
    border: black solid 1px;
    text-align: center;
    align-items: center;   
}
