/* styles.css */
body {

    font-family: Arial, sans-serif;
    background-color: #141418;
    color: #333;
    margin: 0;
    padding: 0;
    align-items: center;
    display:flex;
    justify-content:center;
}

#outer_div{
    height:650px;
    width:1000px;
    /* make the background color gradient of white and light blue */
    background: linear-gradient(to top, rgb(253, 252, 252), rgb(167, 164, 227));
    margin-top: 1%;   
}

#header-div {
    height: 12%;
    margin-bottom: 2%;
    /* border: #0078D7 solid 5px; */
    text-align: center;
    align-items:center;
    display:flex;
    justify-content:center;
}
.header-content {
    width:30%;
    /* text-align:center; */
    /* border:red solid 3px; */
    margin-right:5px;
    height:70%;
    /* padding-top:5%; */
    align-items:center;
    display:flex;
    justify-content:center;
}

.hc-subcontent{
    /* border:#0078D7 solid 1px; */
    width:40%;
    float:left;
    align-items:center;
}

#english {
    height: 50%; 
    width: 20%;
    /* background:black; */
    /* border: #0078D7 solid 2px; */
    padding-top: 2%;
}

#login {
    height: 50%;
    width: 20%;
    /* background:black; */
    /* border: #0078D7 solid 2px; */
    padding-top: 2%;
}

#get-started{
    background:black;
    height: 50%;
    width: 55%;
    /* make borders rounded */
    /* border: #0078D7 solid 2px; */
    border-radius: 5px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}


#main-div {
    height:70%;
    /* width:95%; */
   /* border: green  5px solid; */
   align-items:center;
   display:flex;
   justify-content:center;
}

#main_left {
    margin-right:15px;
    height:90%;
    width:50%;
    /* border: rgb(0, 255, 72)  5px solid; */
        
    }

  
#star-icon {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* Square shape */
    height: 50px; /* Square shape */
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 20px;
    margin-right: 3%;
    /* border: rgb(0, 255, 72)  5px solid; */
  }
 #ratings{
    width: 60%;
 } 

#trustpilot-rating {
    float:left;
    width:90%;
    /* border: rgb(0, 255, 72)  5px solid; */

}
  


.main-title {
    font-size: 11rem;
    color: #010101;
    padding-left: 40px;
  }
      


#main_left_top {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    /* gap: 0.5rem; */
    /* margin-left: 3rem; */
    /* border: red  5px solid; */
}

#main_left_middle {
    height: 45%;
    /* border: red  5px solid; */
    align-items: center;
    justify-content: center;
    text-align: left;
    display: flex;
    font-size: 7rem;
    
}

#credit_div {
    padding-top: 10%;
    height: 100%;
    width: 100%;
    /* border: red  5px solid; */
    font-size: 7rem;
}
#main_left_bottom {
    height: 35%;
    float:left;
    display:flex;
    /* border: red  5px solid; */
    align-items: center;
    justify-content: center;
    display: flex;
}
#mlb_business_card {
    float:left;
    width:47%;
    height: 90%;
    /* border: red  5px solid; */
}

#mlb_corporate_card {
    float:left;
    width:47%;
    height: 90%;
    /* border: red  5px solid; */
}

#small_arrow{
    margin-top: 6%;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background-color: black;
    width: 14%;
    text-align: center;
}


.href {
    width:50%;
    height:50%;
}



.rate {
    font-size:150%;
    color:black;
}

.trustpilot-rating {
    font-size:100;
    color:black;

}

.main-title {
    padding-right:50%;
    font-size:500%;
    color:black;
}

.card {
     color:black;
     width:50%;
     float:left;
     justify-content:center;
     
}
#main_right {
    /* border:blue  5px solid; */
    height:90%;
    width:40%;
    float:left;
    justify-content:center;
    display:flex;
    align-items:center;
    background: rgba(255, 255, 255, 0.5) url('./imgs/card_logo.png');
    background-blend-mode: multiply;
    opacity: 0.8;
    border-radius: 40px;
}

#main_right img {
    height:90%;
    width:90%;
}


#footer-div {
    height: 12%;
    /* border: black solid 5px; */
    text-align: center;
    align-items: center;
    display:flex;
    justify-content:center;
    margin-top: 1%;
}
#footer-div img {
    width: 10%;
    height: 50%;
    /* border:#0078D7 solid 2px; */
    margin-right: 5%;
    margin-left: 5%;
    background-blend-mode: screen;
    
}


h1 {
    color: #0078D7;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
